<div class="hero-unit">
  <h2 class="name"><%= menu.name %></h2>
  <%- linkTo('Edit this menu', editMenuPath(params.id), {class: 'btn pull-right'}); %>
</div>

<h2>Menu Properties</h2>
<% for(var i in menu) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= menu[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>