<div class="hero-unit">
  <h2 class="id">{{ comment.id }}</h2>
  <a href="/comments/{{params.id}}/edit" class="btn pull-right">Edit this comment</a>
</div>

<h2>Comment Properties</h2>
{{#each comment }}
<div class="row list-item">
  <div class="span4">
    <h3>{{@key}}</h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="{{ @key }}">{{ this }}</span></h3>
  </div>
</div>
{{/each}}