{{{partial 'app/views/layouts/layout_nav' root=this user=pageData.user nav=pageData.nav}}}

<div class="container">
  <section class="container">
    <div class="profile-page row">
      <div class="col-md-8">
        <h2><a href="{{userPath posts.0.user.id}}" title="{{posts.0.user.givenName}} {{posts.0.user.familyName}}">{{posts.0.user.givenName}} {{posts.0.user.familyName}}</a></h2>
        <span>Facebook: <a href="https://www.facebook.com/{{posts.0.user.username}}">facebook.com/{{posts.0.user.username}}</a></span><br>
        <span>Postări: {{totalPosts}}</span><br>
        <span>Comentarii: {{totalComments}}</span>
      </div>

      <div class="col-md-4">
        <a href="https://www.facebook.com/{{posts.0.user.username}}">
          <div class="profile-image" style="background-image: url('{{avatarScaleForProfilePage posts.0.user.avatar}}');"></div>
        </a>
      </div>
    </div>

    <div>
      <div class="articlesWrapper col-md-8">
        <h3>Postări:</h3>

        <div class="articles">
          {{#each posts}}
          {{{partial 'app/views/layouts/layout_post_excerpt' post=this}}}
          {{/each}}
        </div>

        {{#ifEqual posts.length 0}}
        <p class="no-posts">Nu a fost gasită nici o postare.</p>
        {{/ifEqual}}

        <ul class="pager">
          {{{renderPager params.page totalPosts}}}
        </ul>
      </div>

      {{{partial 'app/views/layouts/layout_widgets' root=this widgets=pageData.widgets}}}
    </div>
  </section>
</div>
