<div class="widget">
  <h3>Linkuri Utile</h3>
  <ul>
    {{#each root.widgets.links}}
    <li>
      {{#ifEqual linkType 'url'}}
      <a href="{{../url}}" target="_blank">{{../name}}</a>
      {{else}}
      <a href="{{../url}}" target="_blank"><img src="{{../src}}"></a>
      {{/ifEqual}}
    </li>
    {{/each}}
  </ul>
</div>
