{{{partial 'app/views/layouts/layout_nav' root=this user=pageData.user nav=pageData.nav}}}

<div class="container">
  <section class="container add-post">
    <h4>Adaugă postare</h4>

    <form action="{{postsPath}}" method="POST">
      <div class="input-group title-input">
        <span class="input-group-addon">Nume</span>
        <input type="text" class="form-control" name="title" autofocus required>
      </div>

      {{{partial 'app/views/layouts/layout_editor_toolbar'}}}

      <div id="editor"></div>

      <div class="row post-options">
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">Categorie</span>
            <select class="form-control" name="categoryId">
              {{#each categories}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-6 post-buttons">
          <input type="hidden" name="content" value="" id="postValue">
          <input type="hidden" name="userId" value="{{pageData.user.id}}">
          <!-- <button type="submit" class="btn btn-inverse" name="status" value="draft">Save as draft</button> -->
          <button type="submit" class="btn btn-inverse" name="status" value="published" id="transferContent">Adaugă</button>
        </div>
      </div>
    </form>
  </section>
</div>
