    <aside class="col-md-4">
      {{{renderResActions root.pageData.user root.params}}}

      <div class="widget">
        <h3>Postari Recente</h3>
        <ul>
          {{#each widgets.recentPosts}}
          <li><a href="{{postPath id}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </div>

      <div class="widget">
        <h3>Comentarii Recente</h3>
        <ul class="widget-comments">
          {{#each widgets.recentComments}}
          <li>
            <div class="widget-comment">
              <div class="col-xs-4">
                <img class="comment-avatar" src="//www.gravatar.com/avatar/{{avatarHash}}?s=40&d=mm" alt="Avatar">
              </div>
              <div class="col-xs-8">
                <a href="{{postPath postId}}"><p>{{truncate content 130}}</p></a>
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

      <div class="widget">
        <h3>Linkuri</h3>
        <ul>
          {{#each widgets.links}}
          <li>
            {{#ifEqual linkType 'url'}}
            <a href="{{../url}}" target="_blank">{{../name}}</a>
            {{else}}
            <a href="{{../url}}" target="_blank"><img src="{{../src}}"></a>
            {{/ifEqual}}
          </li>
          {{/each}}
        </ul>
      </div>
    </aside>
