<span id="comments"> &nbsp; </span>

{{#if comments.length}}
<h4>{{comments.length}}&nbsp;{{singOrPlural comments.length 'Comentariu' 'Comentarii'}}</h4>

<div class="comments">
  {{#each comments}}
  <div class="comment">
    <div class="col-md-2">
      <img class="comment-avatar" src="//www.gravatar.com/avatar/{{avatarHash}}?s=75&d=mm" alt="Avatar">
    </div>
    <div class="col-md-10">
      <div class="comment-header">
        <span class="col-md-8">
          {{#if user}}
          <a href="{{userPath user.id}}">{{user.givenName}} {{user.familyName}}</a>
          {{else}}
          {{#if name}}
          <span>{{name}}</span>
          {{else}}
          <span>Anonim</span>
          {{/if}}
          {{/if}}
        </span>
        <span class="col-md-4">{{timeToCommentFormat createdAt}}</span>
      </div>
      <p>{{content}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

<h4>Adaugă un comentariu</h4>
<form class="comment-reply-form form-horizontal" role="form" action="{{commentsPath}}" method="POST">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Nume</label>
    <div class="col-sm-10{{#if user}} comment-signedin-name{{/if}}">
      {{#if user}}
      <span id="inputName">{{user.givenName}} {{user.familyName}}</span>
      <input type="hidden" name="userId" value="{{user.id}}">
      {{else}}
      <input type="text" class="form-control" id="inputName" name="name" placeholder="John Doe">
      {{/if}}
    </div>
  </div>
  {{#unless user}}
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="john@example.com">
    </div>
  </div>
  {{/unless}}
  <div class="form-group">
    <label for="inputComment" class="col-sm-2 control-label">Comentariu</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputComment" name="content" rows="4"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="hidden" name="postId" value="{{post.id}}">
      <button type="submit" class="btn btn-inverse">Adaugă</button>
    </div>
  </div>
</form>
