    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CNRV</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-nav">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle">Blog</b></a>
              <ul class="dropdown-menu">
                {{#each categories}}
                <li><a href="{{categoryPath id}}">{{name}}</a></li>
                {{/each}}
              </ul>
            </li>
            {{#each menus}}
            <li class="dropdown">
              <a class="dropdown-toggle">{{name}}</b></a>
              <ul class="dropdown-menu">
                {{#each pages}}
                <li><a href="{{pagePath id}}">{{title}}</a></li>
                {{/each}}
              </ul>
            </li>
            {{/each}}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="placeholder"/>
            {{#if user.givenName}}
            <li class="dropdown">
              <a href="{{userPath user.id}}" class="dropdown-toggle">{{user.givenName}} {{user.familyName}}</b></a>
              <ul class="dropdown-menu user-logged-in">
                <li><a href="{{userPath user.id}}">My Account</a></li>
                <li><a href="/admin">Dashboard</a></li>
                <li><a href="{{logoutPath}}">Logout</a></li>
              </ul>
            </li>
            {{else}}
            {{#if user.username}}
            <li class="dropdown">
              <a href="{{userPath user.id}}" class="dropdown-toggle">{{user.username}}</a>
              <ul class="dropdown-menu user-logged-in">
                <li><a href="{{userPath user.id}}">My Account</a></li>
                <li><a href="/admin">Dashboard</a></li>
                <li><a href="{{logoutPath}}">Logout</a></li>
              </ul>
            </li>
            {{else}}
            <li class="dropdown">
              <a href="{{loginPath}}" class="dropdown-toggle">Sign In</a>
              <ul class="dropdown-menu user-logged-out">
                <li><a href="{{userPath user.id}}">Sign in with Email</a></li>
                <li><a href="{{facebookPath}}">Sign in with Facebook</a></li>
                <li><a href="/register">Create an Account</a></li>
              </ul>
            </li>
            {{/if}}
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    <header class="container">
      <div class="col-md-6">
        <h1>Colegiul National “Roman-Voda”</h1>
        <span>“Un colegiu pentru cine stie ce vrea, si pentru cine vrea sa stie!”</span>
      </div>

      <div class="col-md-6">
        <img src="" alt="">
      </div>
    </header>
